*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.left{
    background-color: #f8f9fa;
    height: 100vh;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(204, 204, 204); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.right{
    background-color: white;
}


.foodList:hover{
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}

#timeToCook,
#servings
{
    /* border: 1px solid black; */
    padding: 0px 5px;
    margin: 5px 10px;
}

.recipeName{
    /* border: 1px solid red; */
    padding: 5px 10px;
    position: absolute;
    bottom: 25%;
    background: linear-gradient(350deg, #f12711, #f5af19);
    color: white !important;
    transform: skewY(-7deg);
}

.img img{
    width: 100%;
    height: 300px;
    object-fit: cover !important;

}

.info{
    /* border: 1px solid black; */
    margin-top: 42px;
}

#ingredientsList{
    width: 100%;
    padding: 5px;
    height: 288px;
    overflow: scroll;
    /* border: 1px solid blue; */
}

i{
    color: #f12711;
}

#bookmark{
    background: linear-gradient(350deg, #f12711, #f5af19);
    border-radius: 50%;
    text-align: center;
    color: white;
}

.recipeIng,
.howToCook{
    color: #f15111 !important;
}

#heading{
    color: #f12711;
}